/* Global Styles */
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1, h2, h3 {
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Header */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* About Me Section */
  .about {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Education Section */
  .education li {
    margin-bottom: 20px;
  }
  
  /* Work Experience Section */
  .experience li {
    margin-bottom: 20px;
  }
  
  .experience ul {
    margin-left: 20px;
  }
  
  /* Skills Section */
  .skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skills li {
    margin: 10px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  /* Footer */
  footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }